{{ define "title" }}RAM Facilities{{ end }} {{ define "content" }}


<h1>Facilities</h1>
<a href="/facility/add" role="button" class="btn btn-success add-new">Add a facility</a>

<div class="row justify-content-center">
  <div class="col-sm-12">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h2 class="mb-0">MOHLTC Funded 1st Stage Treatment</h2>
      </div>
      <div class="card-body">
        <table class="table table-sm table-bordered table-hover">
          <caption>List of MOHLTC Funded facilities</caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Anchorage Program- Salvation Army</td>
              <td>175 George Street</td>
              <td>
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td>Empathy House</td>
              <td>360 Sunnyside Avenue</td>
              <td>
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td>Maison Fraternité (Men/hommes)</td>
              <td>242 Cantin Street</td>
              <td>
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td>Maison Fraternité (Women/femmes)</td>
              <td>105 Laval Street</td>
              <td>
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td>Serenity House</td>
              <td>103 Leopolds Drive</td>
              <td>
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td>Sobriety House (1st & 2nd floors)</td>
              <td>90 First Avenue</td>
              <td>
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td>VESTA Recovery Program for Women</td>
              <td>101 James Street</td>
              <td>
                <a href="#">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-12">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h2 class="mb-0">Non MOHLTC Housing</h2>
      </div>
      <div class="card-body">
        <table class="table table-sm table-bordered table-hover">
          <caption>List of non MOHLTC Funded facilities</caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Harvest House Ministries</td>
              <td>3435 Ramsayville Rd.</td>
              <td>
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td>Mission LifeHouse - Stabilization Unit</td>
              <td>35 Waller Street </td>
              <td>
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td>Serenity House </td>
              <td>103 Leopolds Drive</td>
              <td>
                <a href="#">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{{ end }}